[tasks.vendor]
run = [
    "composer install"
]

[tasks.lint]
run = [
    "./vendor/bin/pint --test",
    "./vendor/bin/phpstan analyse --ansi"
]

[tasks.prepare]
run = "php artisan migrate --env=testing"

[tasks.test]
run = "php artisan test --coverage --min=90 --coverage-clover=coverage.xml"
depends = ["prepare"]

[tasks.scan]
run = "sonar-scanner"

[tasks.ci]
run = [
  { tasks = ["lint", "test"] },
]
depends = ["vendor"]

[tools]
sonar-scanner-cli = "8"
