[tasks.vendor]
run = [
    "touch .env",
    "rm .env.testing",
    "composer install"
]

[tasks.lint]
run = [
    "./vendor/bin/pint --test",
    "./vendor/bin/phpstan analyse --ansi"
]

[tasks.build]
run = "php artisan migrate --env=testing"

[tasks.test]
run = "php artisan test --coverage --min=90 --coverage-clover=coverage.xml"

[tasks.ci]
run = [
  { task = "vendor" },
  { task = "lint" },
  { task = "build" },
  { task = "test" },
]

[tools]
php = "8.5"
